<div class="bc_search_nav bg-gray-lightest">
  <div class="container py-2">
    <nav class="sub-nav mb-0 pb-0">
      {{breadcrumbs}}
      {{search submit=false}}
    </nav>
  </div>
</div>
<div class="container-divider"></div>

<div class="container">

  <div class="row">
    <div class="col-3 col-lg-3 d-none d-md-block">
      <h3><i class="ion-ios-folder-outline"></i> Main Topics</h3>
      <include src="left-nav-partial.hbs"></include>
    </div>
    <div class="col-12 col-md-9">
      <div class="section-tree">
        <header class="page-header mt-0">
          <em>Topic:</em>
          <h2>{{category.name}}</h2>
          {{#if category.description}}
            <p class="page-header-description">{{category.description}}</p>
          {{/if}}
        </header>
        {{#each sections}}
          <section class="section w-100">
            <h2 class="section-tree-title mb-0">
              <a href="{{url}}">{{name}} <small><i class="ion-ios-arrow-right"></i></small></a>
            </h2>
            {{#if articles}}
              <ul class="article-list d-flex flex-wrap align-items-stretch row">
                {{#each articles}}
                  <li class="col-12 col-md-6 article-list-item{{#if promoted}} article-promoted{{/if}}">
                    <div class="w-100 bg-white h-100 pt-3">
                    {{#if promoted}}
                      <i data-title="{{t 'promoted'}}" class="ion ion-ios-star-outline green"></i>
                    {{/if}}
                    <a href="{{url}}" class="article-list-link">{{title}}</a>
                    <p class="article-list-excerpt">{{excerpt body characters=100}}</p>
                    {{#if internal}}
                      <span class="ion-ios-locked-outline" title="{{t 'internal'}}"></span>
                    {{/if}}
                    </div>
                  </li>
                {{/each}}
              </ul>
              {{#if more_articles}}
              <div style="text-align:right;">
                <a href="{{url}}" class="see-all-articles">
                  <i class="ion-ios-more-outline"></i> {{t 'show_all_articles' count=article_count}}
                </a>
              </div>
              {{/if}}
            {{else}}
            <ul class="article-list d-flex flex-wrap align-items-stretch row">
              <li class="col-12 col-md-6 article-list-item">
                <p class="article-list-excerpt">Such Empty..</p>
                </i>
              </li>
            </ul>
            {{/if}}
          </section>
        {{else}}
          <i class="category-empty">
            <a href="{{category.url}}">{{t 'empty'}}</a>
          </i>
        {{/each}}
      </div>
    </div>
  </div>
</div>
