<section class="section hero">
  <div class="hero-inner">
    <h1>Pagely<sup>&reg;</sup> Support Docs</h1>
    {{search submit=false instant=settings.instant_search class='search search-full'}}
  </div>
</section>

<div class="container">
  <div class="d-flex justify-content-start align-items-stretch flex-wrap row">
    {{#each categories}}
    <div class="col-12 col-md-4 mb-5">
      <div class="border-bottom pb-3 h-100">
        <header class="d-flex mb-2 align-items-center">
          <h2 class="mb-0"><a href="{{url}}">{{name}}</a></h2>
        </header>

        <ul class="list-unstyled p-2 section_list">
          {{#each sections}}
          <li class="mb-1">
            <a href="{{url}}">{{name}}</a>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
    {{/each}}

    <div class="col-12 col-md-4 mb-5">
      <div class="border-bottom pb-3 h-100">
        <header class="d-flex mb-2 align-items-center">
          <h2 class="mb-0">Quickstart Guide</h2>
        </header>
        <p>Getting started with Pagely?</p>
        <a href="https://pagely.com/quickstart/" class="button-large d-block py-2"
          style="text-align:center;text-transform:uppercase;">Check out our Quickstart guide</a>

      </div>
    </div>

    <div class="col-12 col-md-4 mb-5">
      <div class="border-bottom pb-3 h-100">
        <header class="d-flex mb-2 align-items-center">
          <h2 class="mb-0">Pre-Sales</h2>
        </header>
        <p>We'd love to answer your Pre-Sales questions.</p>
        <a href="https://pagely.com/kb/" class="button-large d-block py-2"
          style="text-align:center;text-transform:uppercase;">View our Pre-Sales KB</a>

      </div>
    </div>

    {{pagination}}
  </div>
</div>

<section class="bg-gray-lightest py-5" style="margin-bottom:-5rem;">
  <div class="container">
    <div class="d-flex justify-content-start flex-wrap row">

      {{#if promoted_articles}}
      <div class="col-12 col-md-4 promoted-articles">
        <div class="border p-2 bg-white">
          <h3>{{t 'promoted_articles'}}</h3>
          <ul class="">
            {{#each promoted_articles}}
            <li class="">
              <a href="{{url}}">
                <i data-title="{{t 'promoted'}}" class="ion ion-ios-star-outline green"></i> {{title}}

                {{#if internal}}
                <span class="icon-lock" title="{{t 'internal'}}"></span>
                {{/if}}
              </a>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
      {{/if}}

      <div class="col-12 col-md-4">
        <div class="border p-2 bg-white">
          {{#if settings.show_recent_activity}}
          {{recent_activity}}
          {{/if}}
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="border bg-white">
          <a class="twitter-timeline" data-height="600" data-dnt="true" data-theme="light" data-link-color="#1c5673"
            href="https://twitter.com/pagelysupport?ref_src=twsrc%5Etfw">Tweets by pagelysupport</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
<div class="container">
    {{#if promoted_articles}}
      <section class="articles">
        <h3>{{t 'promoted_articles'}}</h3>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
                <a href="{{url}}">
                  {{title}}

                  {{#if internal}}
                    <span class="icon-lock" title="{{t 'internal'}}"></span>
                  {{/if}}
                </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
    <section class="section activity">
      {{#if settings.show_recent_activity}}
        {{recent_activity}}
      {{/if}}
    </section>
  </div>

  <section class="section knowledge-base">

    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li class="blocks-item">
              <a href='{{url}}' class="blocks-item-link">
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
              </a>
            </li>
          {{else}}
            {{#each sections}}
              <li class="blocks-item">
                <a href='{{url}}' class="blocks-item-link">
                  <h4 class="blocks-item-title">
                    {{name}}
                  </h4>
                  <p class="blocks-item-description">{{excerpt description}}</p>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>

    {{#if promoted_articles}}
      <section class="articles">
        <h3>{{t 'promoted_articles'}}</h3>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
                <a href="{{url}}">
                  {{title}}

                  {{#if internal}}
                    <span class="icon-lock" title="{{t 'internal'}}"></span>
                  {{/if}}
                </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>

  {{#if help_center.community_enabled}}
    <section class="section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
        {{t 'join_conversation'}}
      {{/link}}

      <div class="community-image"></div>
    </section>
  {{/if}}

  <section class="section activity">
    {{#if settings.show_recent_activity}}
      {{recent_activity}}
    {{/if}}
  </section>
</div>
-->