<div class="bc_search_nav bg-gray-lightest">
  <div class="container py-2">
    <nav class="sub-nav mb-0 pb-0">
      {{breadcrumbs}}
      {{search submit=false}}
    </nav>
  </div>
</div>
<div class="container-divider"></div>
<div class="container">

  <div class="section-container">
    <section class="section-content">


      <div class="row">
        <div class="col-3 col-lg-3 d-none d-md-block">
          <h3><i class="ion-ios-folder-outline"></i>  Main Topics</h3>
          <include src="left-nav-partial-sect.hbs"></include>
        </div>
        <div class="col-12 col-md-9 col-lg-9">
          <header class="page-header mt-0">
            <div class="">
              <em>Section:</em>
              <h2>{{section.name}}</h2>
              {{#if section.description}}
                <p class="page-header-description">{{section.description}}</p>
              {{/if}}
            </div>
            {{#if settings.show_follow_section}}
              {{subscribe}}
            {{/if}}
          </header>
          {{#if section.sections}}
            <ul class="section-list section-list--collapsed">
              {{#each section.sections}}
              <li class="section-list-item">
                  <a href="{{url}}">
                    <span>{{name}}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" aria-hidden="true">
                      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 14.5l6.1-6.1c.2-.2.2-.5 0-.7L5 1.5"/>
                    </svg>
                  </a>
                </li>
              {{/each}}
              <a tabindex="0" class="see-all-sections-trigger" aria-hidden="true" id="see-all-sections-trigger" title="{{t 'see_all_sections'}}">{{t 'see_all_sections'}}</a>
            </ul>
          {{/if}}


          {{#if section.articles}}
            <ul class="article-list">
              {{#each section.articles}}
                <li class="article-list-item w-100{{#if promoted}} article-promoted{{/if}}">
                  <div class="w-100 bg-white h-100 pt-3">

                  {{#if promoted}}
                    <span data-title="{{t 'promoted'}}" class="ion ion-ios-star-outline green"></span>
                  {{/if}}
                  <a href="{{url}}" class="article-list-link">{{title}}</a>
                  {{#if internal}}
                    <span class="icon-lock" title="{{t 'internal'}}"></span>
                  {{/if}}
                  <p class="article-list-excerpt">{{excerpt body characters=300}}</p>
                  </div>
                </li>
              {{/each}}
            </ul>
          {{else}}
            <i class="section-empty">
              <a href="{{section.url}}">{{t 'empty'}}</a>
            </i>
          {{/if}}

          {{pagination}}
        </div>
      </div>
    </section>
  </div>
</div>
